.h1 {
  font-family: Golos, sans-serif;
  font-size: 6.2rem; /* 62px */
  line-height: 1;
  letter-spacing: -0.03;
}

.h2 {
  font-family: Golos, sans-serif;
  font-size: 5.2rem; /* 52px */
  line-height: 1;
  letter-spacing: -0.03;
}

.h3 {
  font-family: Golos, sans-serif;
  font-size: 3.6rem; /* 36px */
  line-height: 1.1;
  letter-spacing: -0.02;
}

.h4 {
  font-family: Golos, sans-serif;
  font-size: 3rem; /* 30px */
  line-height: 1.1;
  letter-spacing: -0.02;
}

.h5 {
  font-family: Golos, sans-serif;
  font-size: 2.6rem; /* 26px */
  line-height: 1.1;
  letter-spacing: -0.02;
}

.h6 {
  font-family: Golos, sans-serif;
  font-size: 2rem; /* 20px */
  line-height: 1.25;
  letter-spacing: -0.01;
}
